body {
	background-color: #7895CB;
	color: white;
}
h1 {
	text-align: center;
	background-color: #FE7187;
	color: white;
}
h3{
	
			text-align: center;
			background-color: #FE7187;
			color: white;
		
}
